---
import BaseLayout from "../layouts/BaseLayout.astro";

---
<BaseLayout title="Jessy Hazart | Contact">
    <main class="flex flex-col w-full h-full max-w-7xl justify-center gap-8 items-center text-primary">
        <h1 class="uppercase text-3xl font-bold">Laissez votre message</h1>
        <form class="flex flex-col gap-4 w-2/3" action="">
            <div class="flex gap-4 w-full">
                <div class="flex flex-col gap-1 flex-1">
                    <label class="ml-2" for="name">Nom</label>
                    <input class="bg-secondary p-2 rounded-xl" type="text" />
                </div>
                <div class="flex flex-col gap-1 flex-1">
                    <label class="ml-2" for="email">E-mail</label>
                    <input class="bg-secondary p-2 rounded-xl" type="email" />
                </div>
            </div>
            <div class="flex flex-col gap-1">
                <label class="ml-2" for="message">Message</label>
                <textarea class="bg-secondary p-4 rounded-xl resize-none" rows="10"></textarea>
            </div>
            <button class="active:brightness-75 active:shadow-[inset_0_0_10px_#000] px-4 py-2 bg-tertiary w-max self-center rounded-xl font-bold text-secondary" type="submit" disabled >Envoyer</button>
        </form>
    </main>
</BaseLayout>