---
import logo from "../assets/logo.svg";
---

<header>
    <img src={logo} alt="logo" width="48px" />
    <nav>
        <ul>
            <li><a href="/about">présentation</a></li>
            <li><a href="/projets">projets</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
</header>