---
import NavLink from "./NavLink.astro";
import logo from "../assets/logo.svg";
import burger from "../assets/burger.svg"
---

<header class="flex max-w-7xl h-9 w-full justify-between items-center">
    <a href="/"><img src={logo} alt="logo" width="36px" /></a>
    <img class="max-md:block hidden z-30" id="burger" src={burger} alt="">
    <nav id="menu" class="max-md:-translate-x-full max-md:absolute top-0 left-0 max-md:w-full max-md:h-screen max-md:z-20 flex max-md:justify-center max-md:items-center max-md:bg-secondary transition-all">
        <ul class="max-md:justify-evenly max-md:h-full max-md:text-3xl max-md:flex-col text-primary flex gap-8 uppercase font-bold items-center">
            <NavLink url="/about" title="présentation" />
            <NavLink url="/projects" title="projets" />
            <NavLink url="/contact" title="contact" />
        </ul>
    </nav>
</header>

<script>
    const burger = document.getElementById("burger");
    const menu = document.getElementById("menu");
    
    burger.addEventListener("click", toggleMenu);

    function toggleMenu() {
        console.log("ok");
        menu.classList.toggle("max-md:-translate-x-full");
        menu.classList.toggle("open");
        const isOpen = [...menu.classList].includes('open');
        burger.src = isOpen 
        ? "src/assets/x-circle.svg" 
        : "src/assets/burger.svg" ;
    }
</script>