---
import logo from "../assets/logo.svg";
---

<header class="flex max-w-7xl w-full justify-between items-center">
    <a href="/"><img src={logo} alt="logo" width="36px" /></a>
    <nav>
        <ul class="text-primary flex gap-8 uppercase font-bold items-center">
            <li><a href="/about">présentation</a></li>
            <li><a href="/projets">projets</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
</header>