---
const {url, title} = Astro.props;
---

<li class="relative after:content-[''] after:h-px after:left-1/2 after:right-1/2 after:bottom-0 after:bg-primary after:absolute hover:after:left-0 hover:after:right-0 after:transition-all">
    <a href={url}>
        {title}
    </a>
</li>