---
import Skill from "./Skill.astro";
const {type, technologies} = Astro.props;
---

<div class="flex flex-col items-center gap-8 flex-1">
    <h3 class="capitalize text-2xl font-bold whitespace-nowrap">{type}</h3>
    <ul class="grid grid-cols-1 max-md:grid-cols-2 gap-8">
        {
            technologies.map((techno) => <Skill techno={techno} />)
        }
    </ul>
</div>